*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body{
    font-family: "poppins", sans-serif;
}
img{
    max-width: 100%;
}
nav{
    background-color: deeppink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.nav-content{
    color: white;
    padding-right: 20px;
    display: flex;
    gap: 20px;
}
.logo{
    font-family: "Poppins", sans-serif;
    letter-spacing: -2px;
}
.logo span{
    font-weight: 300;
}
.introduction{
    max-width: 600px;
}
.nav-item{
    color: white;
    font-family: sans-serif;
    font-size: 16px;
}
.nav-item:hover{
    color: black;
}
.second-div{
    height: 60vh;
    width: 30vw;
    background-color: pink;
}
.section2{
    display: flex;
    justify-content: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}
.project1{
    background-image: url(Images/projects/project-1.jpg);
}
.project2{
    background-image: url(Images/projects/project-2.jpg);
}
.project3{
    background-image: url(Images/projects/project-3.jpg);
}
.project4{
    background-image: url(Images/projects/project-4.jpg);
}
.project5{
    background-image: url(Images/projects/project-5.jpg);
}
.project6{
    background-image: url(Images/projects/project-6.jpg);
}
.project7{
    background-image: url(Images/projects/project-7.jpg);
}
.project8{
    background-image: url(Images/projects/project-8.jpg);
}
.project9{
    background-image: url(Images/projects/project-9.jpg);
}
.hero{
    background-color: pink;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.introduction p{
    font-size: 40px;
    font-weight: 200;
    line-height: 1;
}
.introduction span{
    font-size: 50px;
    font-weight: 500;
}
.introduction h3{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.button{
    border: 1px solid black;
    padding: 15px 45px;
    width: fit-content;
    border-radius: 12px;
    display: block;
    margin-top: 15px;
    color: black;
    display: flex;
    align-items: center;
}
.button .arrow{
    padding-left: 10px;
    transition: transform 0.5s;
}
.button:hover{
    background-color: deeppink;
    color: white;
} 
.button:hover .arrow{
    transform: rotate(90deg);
    color: white;
}
.section1{
    padding-bottom: 30px;
}
.images{
    background-color: pink;
    padding: 30px;
    border-radius: 100px;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}
.images-content{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin-inline: auto;
}
.section3{
    background-color: rgba(57, 138, 138, 0.26);
    margin-top: 50px;
}
.section3 h2{
    text-align: center;
    font-size: 50px;
    padding: 50px;
}
.contents{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 35px;
    font-size: 15px;
}
.project{
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
.blog{
    font-size: 13px;
    line-height: 1.5;
}
.blog-image{
    background-image: url(Images/blogs/blog-1.jpg);
    height: 160px;
    max-width: 260px;
    background-size: cover;
    background-position: center;
}
.blog2-image{
    background-image: url(Images/blogs/blog-2.jpg);
    height: 160px;
    max-width: 260px;
    background-size: cover;
    background-position: center;
}
.blog3-image{
    background-image: url(Images/blogs/blog-3.jpg);
    height: 160px;
    max-width: 260px;
    background-size: cover;
    background-position: center;
}
.blog4-image{
    background-image: url(Images/blogs/blog-4.jpg);
    height: 160px;
    max-width: 260px;
    background-size: cover;
    background-position: center;
}
.blog1{
    max-width: 238px;
}
.blogs{
    display: flex;
    /* justify-content: center; */
    justify-items: center;
    max-width: 1000px;
    margin-inline: auto;
    gap: 16px;
    flex-wrap: wrap;
    margin-inline: auto;

    @media (max-width: 1000px) {
        max-width: 778px;
    }

    @media (max-width: 738px) {
        max-width: 492px;
    }

    @media (max-width: 506px) {
        justify-content: center ;
    }
}
svg{
    width: 100px;
}
.date{
    padding-bottom: 13px;
} 
.flex{
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
    gap: 30px;
}
.card{
    padding-left: 20px;
    max-width: 300px;
}
.section1 h2{
    text-align: center;
    font-size: 50px;
    padding: 50px;
}
.picture{
    background-color: pink;
    height: 300px;
    width: 300px;
    border-radius: 160px;
    margin-inline: auto;
}
.first-div p{
    text-align: center;
    line-height: 1.5;
}
.first-div h3{
    text-align: center;
    padding-top: 20px;
}
.first-div{
    width: 500px;
}
.card h3{
    text-align: center;
    letter-spacing: 1;
    font-size: 23px;
}
.hamburger{
     display: none; 
    width: 20px;
}
.card p{
    text-align: center;
    letter-spacing: 1;
    
}
.blog h3{
    font-size: 20px;
    font-weight: 600;
    padding-block: 10px;
}
.section4 h2{
    font-size: 50px;
    padding: 50px;
    text-align: center;
    font-weight: 600;
}
.section5{
    padding: 50px;
    text-align: center;
    color: white;
    margin-top: 6rem;
    background-color: black; 
}
.section5 h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}
.section5 p{
    font-size: 12px;
    color: aqua;
    text-align: center;
    padding-top: 40px;
}
label{
    display: block;
}
input{
    width: min(400px, 100%);
    height: 40px;
    margin: 2px;
}
textarea{
    width: min(400px, 100%);
    height: 160px;
}
.submit{
    color: white;
    background-color: black;
    padding: 10px 80px;
    border: 1px solid white;
}
.last-section{
    background-color: pink;
    padding: 50px;  
    position: relative;
}
.social-icons{
    color: aqua;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    align-items: center;
}
.social-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons{
    border: 1px solid black;
    background-color: black;
    color: aqua;
    margin-inline: auto;
    padding: 20px 15px;
    margin-block: 20px 10px;
}
.back-to-top{
    position: absolute;
    top: -10px;
    color: aqua;
    padding: 20px 15px;
    background-color: black;
    font-size: 40px;
    font-size: 15px;
}
.footer{
    text-align: center;
    font-size: 13px;
}
.icon2{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width:900px){
    .hamburger{
        display: block;
    }
    .nav-item{
        display: none;
    }
    .introduction p{
        font-size: 25px;
    }
    .introduction span{
        font-size: 35px;
    }
    .introduction h3{
        font-size: 25px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .section2{
        display: block;
    }
    .second-div{
        display: none;
    }
    .images-content{
        grid-template-columns: 1fr 1fr;
    }
       
}
@media(max-width:700px){
    .images-content{
        grid-template-columns: 1fr;
    }
}
